.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}  

.restaurant,
.cafeteria,
.cocktails,
.category-3 {
  width: 200px;
  height: 200px;
  background-image: url('ruta/de/imagen.jpg'); /* Reemplaza 'ruta/de/imagen.jpg' con la ruta de tu imagen de fondo */
  background-size: cover;
  background-position: center;
  display: inline-block;
  margin-right: 10px;
}

.button-restaurant,
.button-cafeteria,
.button-cocktails,
.button-category-3 {
  width: 100%;
  height: 100%;
  background: transparent;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
  outline: none;
}

.button-restaurant:hover,
.button-cafeteria:hover,
.button-cocktails:hover,
.button-category-3:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  width: 60%;
  height: 40%;
  border: 1px solid grey;
  border-radius: 5%;
}

.button {
  width: 77%;
  background: #0000009e;
  color: #ffc107;
  font-size: 18px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  margin: 10px;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


.resto {
  background-image: url(../../assets/img/restaurant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.cafe {
  background-image: url(../../assets/img/cafe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 200px;
  border: 1px solid grey;
  border-radius: 5%;
}

.cock {
  background-image: url(../../assets/img/cocktail.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 200px;
}
.vino {
  background-image: url(../../assets/img/vinos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 200px;
}

.container{
  margin-bottom: 300px;
}


.gridItem > div {
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease;
}

.gridItem > div:hover {
  transform: scale(1.05); /* Ajusta el valor para cambiar el tamaño del botón al pasar el mouse sobre él */
  cursor: pointer;
}

.button {
  border: none;
  cursor: pointer;
  font-weight: bold;
  outline: none;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  border: 1px solid grey;
  border-radius: 5%;
}

@media screen and (max-width: 590px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }

  .gridItem {
    height: 150px;
  }
}
