
.detallemesa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 100px;
  }
  
  .detalles {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .cardMesa {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  
  .card {
    display: flex;
    align-items: center;
  }
  
  h2{
    color: white;
  }
  
  .conteinerH2{
    display: flex;
    justify-content: center;
  }