.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between; /* Alinear los botones al espacio entre ellos */
  gap: 10px;
}

.blue-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none; /* Eliminar el borde */
  cursor: pointer;
}

.blue-button:hover {
  background-color: darkblue;
}


.titulo {
  color: white;
}