.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre los botones */
  }
  
  button {
    background-color: white;
    border: 2px solid blue;
    color: blue;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .blue-button {
    background-color: blue;
    color: white;
  }
  

  .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-container {
  margin-top: 20px;
}

.blue-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.blue-button:hover {
  background-color: darkblue;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 2px solid blue;
  border-radius: 5px;
  z-index: 9999;
}

.login-form input {
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

.login-form button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: darkblue;
}

.login-form p {
  color: red;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .buttons-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  button {
    background-color: white;
    border: 2px solid blue;
    color: blue;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .blue-button {
    background-color: blue;
    color: white;
  }
  
  .blue-button:hover {
    background-color: darkblue;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid blue;
    border-radius: 5px;
    z-index: 9999;
  }
  
  .login-form input {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    font-size: 16px;
  }
  
  .login-form button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: darkblue;
  }
  
  .login-form p {
    color: red;
  }
  