.mesaCard {
    background-color: #464242;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    cursor: pointer;
    margin: 10px;
  }
  
  .mesaCard.abierto {
    border: 2px solid green;
  }
  
  .mesaCard.cerrado {
    border: 2px solid rgb(46, 45, 45);
  }
  .mesaConteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  h2{
    text-align: center;
    color: rgb(102, 96, 7);
  }