/* ModificarProductos.module.css */
.productList {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.productItem {
  margin: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  overflow: hidden;
  width: 90%;
}

.productInfo {
  flex: 1;
  padding: 20px;
}

.productDescription {
  margin-bottom: 10px;
  color: black;
}

.productName {
  font-size: 20px;
  margin-bottom: 5px;
  color: black;
}

.productDetails {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.productPrice {
  font-weight: bold;
  color: black;
}

.productStock {
  color: #666;
}

.stockOptions {
  display: flex;
  align-items: center;
}
.stockOptions p{
  color: black;
}

.stockBoxes {
  display: flex;
  margin: 5px;
}

.stockBox {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.stockBox input[type="radio"] {
  margin-left: 5px;
}

.available {
  background-color: #a3e9a4;
}

.unavailable {
  background-color: #ffcccc;
}

.productFooter button {
  padding: 5px 10px;
  background-color: #FF5722;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.productImage {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.productImg {
  width: 100%;
  height: auto;
  display: block;
}

.filtro{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

p{
  margin: 2px;
}

.titulo h2 {
  color: white;
}
.titulo{
  display: flex;
  justify-content: center;
}

.inputt{
  width: 50%;
}