.ListaGrupo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem; 
  }
  
  .CardItem {
    width: 100%; 
    margin-bottom: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  


  @media (max-width: 767px) {
    .ListaGrupo {
      flex-direction: column;
    }
  }